* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(69, 61, 61);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.square {
  background-color: #fff;
  width: 200px;
  height: 200px;
}

.red .square {
  background-color: rgb(160, 37, 37);
}

.green .square {
  background-color: rgb(22, 84, 22);
}

.blue .square {
  background-color: rgb(22, 22, 133);
}

.squares {
  display: flex;
}
