* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(134, 151, 142);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-container h1 {
  color: rgb(58, 84, 70);
  opacity: .5;
}

.todo-container input {
  background-color: rgb(172, 180, 175);
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: .2rem .5rem;
  margin: .2rem;
}

.card {
  border: 1px solid black;
  margin: 1rem 4rem;
  padding: .5rem 3rem;
  text-align: center;
  position: relative;
}

.card.completed {
  text-decoration: line-through;
  opacity: .5;
}

.completedBtn,
.editBtn,
.addTask {
  background-color: rgb(58, 84, 70);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  padding: .3rem .5rem;
  margin: .5rem .5rem 0;
}

.removeBtn {
  background-color: inherit;
  position: absolute;
  top: 0;
  right: 5px;
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
}
